@font-face {
  font-family: "Calibri";
  src: url("~assets/fonts/Calibri/Calibri.woff2");
  src: url("~assets/fonts/Calibri/Calibri.woff2") format("woff2"),
  url("~assets/fonts/Calibri/Calibri.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CalibriBold";
  src: url("~assets/fonts/Calibri/Calibri-Bold.woff2");
  src: url("~assets/fonts/Calibri/Calibri-Bold.woff2") format("woff2"),
  url("~assets/fonts/Calibri/Calibri-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MinionProDisp";
  src: url("~assets/fonts/MinionPro/MinionPro-Disp.woff2");
  src: url("~assets/fonts/MinionPro/MinionPro-Disp.woff2") format("woff2"),
  url("~assets/fonts/MinionPro/MinionPro-Disp.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MinionProRegular";
  src: url("~assets/fonts/MinionPro/MinionPro-Regular.woff2");
  src: url("~assets/fonts/MinionPro/MinionPro-Regular.woff2") format("woff2"),
  url("~assets/fonts/MinionPro/MinionPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
